<!-- FOOTER COMPONENT -->
<div class="sy-footer">
  <div class="container">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6">
        <a class="sy-brand sy-brand--footer" href="./">
          <span class="sy-brand-logo" id="footerBrandLogo"></span>
          <span class="sy-brand-text">
            <span class="sy-brand-name" id="footerBrandName"></span>
            <span class="sy-brand-tag" id="footerBrandTag"></span>
          </span>
        </a>
        <p class="sy-footer-desc" id="footerDesc"></p>
        <div class="sy-social" id="footerSocial"></div>
      </div>

      <div class="col-lg-2 col-md-6 col-6">
        <h6 class="sy-footer-title">Quick Links</h6>
        <ul class="sy-footer-list">
          <li><a href="./">Home</a></li>
          <li><a href="about/">About</a></li>
          <li><a href="rentals/">Rentals</a></li>
          <li><a href="activities/">Activities</a></li>
          <li><a href="blog/">Blog</a></li>
          <li><a href="yachts/">Yachts &amp; Boats</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 col-6">
        <h6 class="sy-footer-title">Company</h6>
        <ul class="sy-footer-list">
          <li><a href="about/">About Us</a></li>
          <li><a href="contact/">Contact</a></li>
          <li><a href="contact/">Partner With Us</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6">
        <h6 class="sy-footer-title">Contact Us</h6>
        <ul class="sy-footer-list sy-footer-contact">
          <li><i class="bi bi-geo-alt-fill"></i><span id="footerAddress"></span></li>
          <li><i class="bi bi-telephone-fill"></i><a id="footerPhone" href="#"></a></li>
          <li><i class="bi bi-envelope-fill"></i><a id="footerEmail" href="#"></a></li>
        </ul>
      </div>

    </div>

    <hr class="sy-footer-hr" />

    <div class="sy-footer-bottom">
      <p class="mb-0">&copy; <span id="footerYear"></span> <span id="footerCompany"></span>. All rights reserved.</p>
      <ul class="sy-footer-legal">
        <li><a href="privacy/">Privacy</a></li>
        <li><a href="terms/">Terms</a></li>
        <li><a href="/sitemap.xml">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>